<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    {% block header %}
    <h1>Header</h1>
    {% endblock %}
    
    {% block content %}
    <h1>Content</h1>
    {% endblock %}
    
    {% block footer %}
    <h1>Footer</h1>
    {% endblock %}
</body>

</html>