{% extends "base.html" %}
{% block title %}Todo2{% endblock %}

{% block header %}
    <h1>Python GUILD rocks!</h1>
{% endblock %}

{% block content %}
<p>
    <ul>
        {% for link in links %}
        <li>
            <a href="/link/{{link.id}}">{{link.title}} - {{link.url}}</a>
        </li>
        {% endfor %}
    </ul>
</p>

<p>
<form action="/link" method="post">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" />
    <br />

    <label for="title">Url:</label>
    <input type="text" id="url" name="url"/>
    <br />

    <input type="submit"/>
</form>
</p>

{% endblock %}


{% block footer %}{% endblock %}
