{% extends "base.html" %}
{% block title %}Todo2{% endblock %}

{% block header %}
    <h1>Python GUILD rocks!</h1>
{% endblock %}
    
{% block content %}
<p>
    Link <pre>{{link.title}}</pre> [{{link.id}}] - {{link.url}}.
</p>
{% endblock %}

{% block footer %}
<p>
    <a href="/">Back</a>
</p>
{% endblock %}